#div-res{
    display:flex;
    justify-content:space-between;
    background:#00ffa6;
}
@media only screen and (max-width:770px)
{
    #div-res{
        display:block;
    }
}

#image1001{
  background:black;
  border-radius:50%;
  animation: App-logo-spin 10s linear infinite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 




.wrapper{
    display: inline-flex;
    position: relative;
    top: 72%;
    left: -4.5%;
  }
  .wrapper .icon{
    margin: 0 5%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon a{
    color: black;
    font-size: 20px;
  }
  .wrapper .icon span{
    display: block;
    height:30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height:4px;
    font-size: 20px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    font-family: 'Courgette', cursive;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 4px 14px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -42px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: #fff;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  /* .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  } */
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #1a57dc;
  }
  .wrapper .email:hover span,
  .wrapper .email:hover .tooltip,
  .wrapper .email:hover .tooltip:before{
    background: #ff0000;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #ff003c;
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip:before{
    background: rgb(179, 0, 255);
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before{
    background: #000cb1;
  }